#miscompras-body {
    height: 100vh;
    width: 100vw;
}

#miscompras-titulo-wrapper {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: rgb(209, 213, 214);
    margin-bottom: 1px;
}

#miscompras-titulo {
    margin-top: 1.4vh;
    margin-left: 4.5vw;
}

#miscompras-content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#miscompras-barradecompra {
    margin-top: 3%;
    background-color: rgb(235, 241, 240);
    height: 35%;
    width: 80%;
    border: solid black 1.5px;
    overflow: hidden;
    border-radius: 0.5em;
}

#compra-fechadecompra-wrapper {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: baseline;
    border-bottom: solid black 0.5px;

}

#compra-fechadecompra {
    margin: 0.4rem;
    margin-left: 1.2rem;
}

#compra-datos {
    display: flex;
    width: 100%;
    height: 80%;
}

#compra-fotoproducto-wrapper {
    margin-left: 3%;
    background-color: white;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#compra-fotoproducto-container {
    background-color: black;
    height: 90%;
    width: 90%;
}

#fotoproducto {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

#compra-detallesproducto {

    margin-left: 2%;
    height: 100%;
    width: 30%;
}

.detalleproducto {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#compra-detallescompra {

    height: 100%;
    width: 20%;
}

.detallecompra {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#opciones {
    margin-top: 1em;
    margin-left: 2%;
    height: 80%;
    width: 22%;
    display:flexbox;
}

.boton-ver-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-verproducto-container, #boton-vercompra-container{
    border: solid black 1.5px;
    border-radius: 1em;
    padding: 0.5em;
    padding-bottom: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcionesvermas{
}