{% extends "public/base.html" %}

{% block misproductos %}
<div id="miscompras-body">
    <div id="miscompras-titulo-wrapper">
        <h2 id="miscompras-titulo">Mis compras</h2>
    </div>
    <div id="miscompras-content">
        <div id="miscompras-barradecompra">
            <div id="compra-fechadecompra-wrapper">
                <h4 id="compra-fechadecompra">8 de Junio</h4>
            </div>
            <div id="compra-datos">
                <div class="compra-datos-section" id="compra-fotoproducto-wrapper">
                    <div id="compra-fotoproducto-container">
                        <img id="fotoproducto" src="../static/img/teto.jpg" alt="Teto">
                    </div>
                </div>
                <div class="compra-datos-section" id="compra-detallesproducto">
                    <div class="detalleproducto" id="nombreproductoproducto">
                        <h5>Producto: Teto Plushie</h5>
                    </div>
                    <div class="detalleproducto" id="precioproducto">
                        <h5>Precio por unidad: $71</h5>
                    </div>
                    <div class="detalleproducto" id="cantidadunidades">
                        <h5>Cantidad de unidades: 2</h5>
                    </div>
                </div>
                <div class="compra-datos-section" id="compra-detallescompra">
                    <div class="detallecompra" id="idcompra">
                        <h5>#010408</h5>
                    </div>
                    <div class="detallecompra" id="fechacompra">
                        <h5>Por despachar</h5>
                    </div>
                    <div class="detallecompra" id="estatuscompra">
                        <h5>Enviado / En tránsito</h5>
                    </div>
                </div>
                <div class="compra-datos-section" id="opciones">
                    <div class="boton-ver-wrapper" id="boton-vercompra-wrapper">
                        <div id="boton-vercompra-container">
                            <h4 class="opcionesvermas">Ver compra</h4>
                        </div>
                    </div>
                    <div class="boton-ver-wrapper" id="boton-verproducto-wrapper">
                        <div id="boton-verproducto-container">
                            <h4 class="opcionesvermas">Ver producto</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}