{% extends "base.html" %}
{% block home %}
<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src=" {{url_for('static', filename= 'img/estrategia.jpg')}}" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Estrategia</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn"> Juegos donde se ponen a prueba diferentes habilidades de planificación, pensamiento crítico, resolución de problemas y gestión de recursos</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{{ url_for('categoria_detalle', categoria='estrategia') }}">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src=" {{url_for('static', filename= 'img/habilidad.jpg')}}" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Habilidad</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">La destreza manual y la precisión son importantes en estos juegos</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{{ url_for('categoria_detalle', categoria='habilidad') }}">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="{{url_for('static', filename= 'img/cartas.jpg')}}" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Cartas</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">La herramienta principal son las cartas: Truco, Loba, Uno y muchos mas! </p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{{ url_for('categoria_detalle', categoria='cartas') }}">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="{{url_for('static', filename= 'img/infantiles.jpg')}}" alt="">
                <div class="offer-text">
                    <h3 class="text-white mb-3">Infantiles</h3>
                    <a href="{{url_for('productos')}}" class="btn btn-primary">Shop now</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="{{url_for('static', filename= 'img/adultos.jpg')}}" alt="">
                <div class="offer-text">
                    <h3 class="text-white mb-3">Adultos</h3>
                    <a href="{{url_for('productos')}}" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categorías</span></h2>
    <div class="row px-xl-5 pb-3">
        {% for categoria in categorias %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{{ categoria['imagen'] }}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>{{ categoria['nombre'] }}</h6>
                        <small class="text-body">{{ categoria['precio'] }}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}  
    </div>
</div>
<!-- Categories End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Productos Destacados</span></h2>
    <div class="row px-xl-5">
        {% for producto in destacados %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{{ producto['imagen'] }}" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="{{ url_for('producto_detalle', producto_id= producto['id'] ) }}">{{ producto['nombre'] }}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>{{ producto['precio'] }}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recién Ingresados</span></h2>
    <div class="row px-xl-5">
        {% for producto in ingresos %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{{ producto['imagen'] }}" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="{{ url_for('producto_detalle', producto_id= producto ['id'] ) }}">{{ producto['nombre'] }}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>{{ producto['precio'] }}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->


<!-- Vendor Start -->
<div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <img src="{{url_for('static', filename= 'img/marca1.jpg')}}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{{url_for('static', filename= 'img/marca2.jpg')}}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{{url_for('static', filename= 'img/marca3.jpg')}}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{{url_for('static', filename= 'img/marca4.jpg')}}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{{url_for('static', filename= 'img/marca5.jpg')}}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{{url_for('static', filename= 'img/marca6.jpg')}}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{{url_for('static', filename= 'img/marca7.jpg')}}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{{url_for('static', filename= 'img/marca8.jpg')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
</div>
 <!-- Vendor End -->

{% endblock %}
