{% extends "base.html" %}
{% bock login %}
<section class="inicioSesion">
    <div class="inicioSesionContenedor">
        <form id="inicioSesionFormulario" method="POST" action="{{API_BASE}}/usuario/login">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" id="correo" name="correo" placeholder="Ingresa tu correo" required>

            <label for="contrasni">Contraseña:</label>
            <input type="password" id="contrasni" name="contrasni" placeholder="Ingresa tu contraseña" required>

            <button type="submit">Iniciar Sesión</button>
        </form>
        
            <div class="registrarse">
                ¿No tienes una cuenta? <a href="{{ url_for('registrarse') }}">Regístrate</a>
            </div>
    </div>
</section>
{% endblock %}
